@model Product
<h1 class="alert" style="text-align:center">@Model.Name Details</h1>
<div class="row">
    <dl class="row col-6">
        <dt class="col-2">@Html.DisplayNameFor(e=>e.Id)</dt>
        <dd class="col-10">@Html.DisplayFor(e=>e.Id)</dd>

        <dt class="col-2">@Html.DisplayNameFor(e=>e.Name)</dt>
        <dd class="col-10">@Html.DisplayFor(e=>e.Name)</dd>

        <dt class="col-2">@Html.DisplayNameFor(e=>e.Color)</dt>
        <dd class="col-10">@Html.DisplayFor(e=>e.Color)</dd>

        <dt class="col-2">@Html.DisplayNameFor(e=>e.Price)</dt>
        <dd class="col-10">@Html.DisplayFor(e=>e.Price)</dd>

        <dt class="col-2">@Html.DisplayNameFor(e=>e.JoinDate)</dt>
        <dd class="col-10">@Html.DisplayFor(e=>e.JoinDate)</dd>

    </dl>
    <div class="col-6">
        <img src="@Model.ImageUrl" style="width:50%;aspect-ratio:1/1" />
    </div>

</div>

<div class="row" style="width:200px;padding-left:13px">
    <a class="nav-link text-white btn btn-primary mt-1" asp-controller="Products" asp-action="GetIndexView">Back to list</a>

</div>